env/
.env
*.pyc
*.pyo
__pycache__/


*.sqlite3
*.db
*.log


*.pyc
*.pyo
*.pyd
__pycache__/

settings.local.py
settings.secret.py

.vscode/
.idea/
*.bak
*.swp
*.swo

locale/
staticfiles/

media/images/
media/posters/
media/profile_photos/


db.sqlite3
*.class

.DS_Store

.ipynb_checkpoints/

*.pyc
